@model Application.ViewModels.FileTransferModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>FileTransferModel</h4>

@if (string.IsNullOrEmpty(ViewBag.Message) !=true)
            {
                <div class="alert-primary" role="alert">
                    @ViewBag.Message
                </div>
            }

@if (string.IsNullOrEmpty(ViewBag.Error) !=true)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }

<form action="/FileTransfer/Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <!-- <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="ReceiverEmail" class="control-label"></label>
                <input asp-for="ReceiverEmail" class="form-control" />
                <span asp-validation-for="ReceiverEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderEmail" class="control-label"></label>
                <input asp-for="SenderEmail" class="form-control" />
                <span asp-validation-for="SenderEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload Files" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
   